/* BOOTSTRAP CLASSES */
.container-fluid {
    margin-bottom: 40px;
}

/* CHARACTERS */
.player {
    display: inline-block;
    margin: 0 3rem;
}



/* IMAGES */

.player-img-box {
    height: 150px;
    width: 150px;
}

.player-img {
    display: block;
    height: 100%;
    object-fit: cover;
}

/* VIDEO BG */
#video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}


/* BOXES */

.player-box {
    color: rgb(206, 188, 24);
    height: 30%;
    width: 100%;
    background-color:  rgba(0, 89, 255, 0.329);
}