

/* CHARACTERS */
.player {
    display: inline-block;
    margin: 0 3rem;
}



/* IMAGES */

.player-img-box {
    background-color: gray;
    height: 150px;
    width: 150px;
}

.player-img {
    display: block;
    height: 100%;
    object-fit: cover;
}
